<!-- Include Meta Tags Here -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta content='#000000' name='theme-color'/>
<title>{{site.name}} | Podcast</title>
<link rel="shortcut icon" type="image/x-icon" href="{{site.shortcut_icon}}" >
<link rel="icon" type="image/png" href="{{site.shortcut_png}}" sizes="192x192">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.shortcut_png}}">

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url}}">
<script src="https://kit.fontawesome.com/609f7f6148.js" crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) BEGIN -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZR1GQFX2NG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZR1GQFX2NG');
</script>
<!-- Google tag (gtag.js) END -->